.newsletter {
    width: 65%;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    gap: 30px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}

.newsletter h1 {
    font-size: 45px;
    color: #454545;
    font-weight: 600;
}

.newsletter p {
    color: #454545;
    font-size: 20px;
}

.newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: poppins;
    font-size: 16px;
}

.newsletter div button {
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width:1280px) {
    .newsletter {
        padding: 0px 80px;
        margin-bottom: 120px;
        gap: 20px;
        margin-top: 130px;
    }
    .newsletter h1{
        font-size: 32px;
    }
    .newsletter p{
        font-size: 16px;
    }
    .newsletter div {
        width: 600px;
        height: 60px;
    }
    .newsletter div input{
        width: 400px;

    }
    .newsletter div button{
        width: 160px;
        height: 60px;
    }
}

@media(max-width:1024px) {
    .newsletter {
        padding: 0px 80px;
        margin-bottom: 120px;
        gap: 20px;
        margin-top: 170px;
    }
    .newsletter h1{
        font-size: 25px;
    }
    .newsletter p{
        font-size: 12px;
    }
    .newsletter div {
        width: 600px;
        height: 50px;
    }
    .newsletter div input{
        width: 350px;

    }
    .newsletter div button{
        width: 160px;
        height: 50px;
    }
}

@media(max-width:800px) {
    .newsletter {
        padding: 0px 80px;
        margin-bottom: 120px;
        gap: 20px;
        margin-top: 170px;
    }
    .newsletter h1{
        font-size: 16px;
    }
    .newsletter p{
        font-size: 12px;
    }
    .newsletter div {
        width: 400px;
        height: 40px;
    }
    .newsletter div input{
        width: 160px;

    }
    .newsletter div button{
        width: 140px;
        height: 40px;
        font-size: 12px;
    }
}


@media(max-width:500px) {
    .newsletter {
        width: 100%;
        max-width: 90%;
        padding: 20px;
        height: auto;
    }
    .newsletter h1{
        font-size: 10px;
    }
    .newsletter p{
        font-size: 10px;
    }
    .newsletter div {
        width: 200px;
        height: 30px;
    }
    .newsletter div input{
        width: 120px;
font-size: 12px;
    }
    .newsletter div button{
        width: 120px;
        height: 30px;
        font-size: 10px;
    }
}
