.relatedproducts{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: auto;
    padding-bottom: 50px;
}

.relatedproducts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.relatedproducts-items{
    margin-top: 50px;
    gap: 30px;
    display: flex;
}
@media(max-width:800px){
    .relatedproducts h1{
        color: #171717;
        font-size: 45px;
        font-weight: 600;
    }
    .relatedproducts-items {
        display: grid;
        gap: 30px;
        margin-top: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media(max-width:500px){
    .relatedproducts h1{
        color: #171717;
        font-size: 40px;
        font-weight: 600;
    }
    .relatedproducts-items {
        display: grid;
        gap: 30px;
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> 07a6f0ad2eb221bfdcc80caa8bab298dbe20bb73
